* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Courier New', Courier, monospace;
}

.header-wrapper {
    background: rgb(36, 35, 35);
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}
.logo h3 a {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    transition: opacity .2s linear;
}
.logo h3 a:hover {
    opacity: .8;
}
.mainmenu ul,
.mobile-menu   {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    display: inline-block;
    position: relative;
}
.mainmenu ul li a ,
.mobile-menu  li a{
    display: block;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: background .3s linear;
}
.mainmenu ul li a:hover {
    background: #fff;
    color: #000;
}

/* Dropdown Menu Styles */

.mainmenu ul li ul {
    position: absolute;
    left: -50px;
    top: 80px;
    width: 100%;
    background: rgb(36, 35, 35);
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
}

.mainmenu ul li ul::before {
    position: absolute;
    content: '';
    left: 37%;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(36, 35, 35);;
}

.mainmenu ul li  ul li {
    display: block;
    border-bottom: .5px solid #ddd;
}


.mainmenu ul li:hover >  ul {
    display: block;
    visibility: visible;
    opacity: 1;
    left: 0;
}


/* Humberger Icon Styles */
.humberger-icon {
    width: 50px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

.humberger-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: red;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.humberger-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.humberger-icon span:nth-child(2) {
    top: 13px;
    transform-origin: left center;
}

.humberger-icon span:nth-child(3) {
    top: 27px;
    transform-origin: left center;
}

.humberger-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.humberger-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.humberger-icon.open span:nth-child(3) {
    top: 33px;
    left: 8px;
    transform: rotate(-45deg);
}


/* Mobile Menu Styles */
/* Few Common reset css are written above */

.mobile-menu {
    display: none;
    background: #FF7012;
    position: fixed;
    width: 100%;
    left: 0;
    top: 58px;
    text-align: center;
    height: 100vh;
}

.mobile-menu li a:hover {
    background-color: rgba(255,255,255,0.2);
}

.mobile-menu.active {
    display: block;
}
